[submodule "基础课程/信息素养与实践"]
	path = 基础课程/信息素养与实践
	url = https://github.com/edu2act/2017-2018_1st_Informationliteracy1.git
[submodule "基础课程/计算机导论"]
	path = 基础课程/计算机导论
	url = https://github.com/edu2act/2017-2018_1st_ComputerIntroduction.git
[submodule "基础课程/Web开发（二）"]
	path = 基础课程/Web开发（二）
	url = https://github.com/edu2act/2017-2018_1st_web2.git
[submodule "基础课程/C++面向对象程序设计"]
	path = 基础课程/C++面向对象程序设计
	url = git@github.com:edu2act/2017-2018_1st_CPP.git
[submodule "基础课程/软件过程"]
	path = 基础课程/软件过程
	url = https://github.com/edu2act/2017-2018_1st_softwarprocess.git
[submodule "Java与大数据分析/JavaEE"]
	path = Java与大数据分析/JavaEE
	url = https://github.com/edu2act/2017-2018_1st_JavaEE.git
[submodule "Java与移动智能设备开发/JavaEE"]
	path = Java与移动智能设备开发/JavaEE
	url = https://github.com/edu2act/2017-2018_1st_JavaEE.git
[submodule "Java与大数据分析/Hibernate"]
	path = Java与大数据分析/Hibernate
	url = https://github.com/edu2act/2017-2018_1st_Hibernate.git
[submodule "Java与移动智能设备开发/Hibernate"]
	path = Java与移动智能设备开发/Hibernate
	url = https://github.com/edu2act/2017-2018_1st_Hibernate.git
[submodule "HTML5与移动互联网开发/移动Web开发"]
	path = HTML5与移动互联网开发/移动Web开发
	url = https://github.com/edu2act/2017-2018_1st_MobileWeb.git
[submodule "Python与机器学习/深度学习"]
	path = Python与机器学习/深度学习
	url = https://github.com/edu2act/2017-2018_1st_DeepLearning.git
[submodule "HTML5与移动互联网开发/JavaScript进阶"]
	path = HTML5与移动互联网开发/JavaScript进阶
	url = https://github.com/edu2act/2017-2018_1st_JavaScript-Advanced.git
[submodule "Java与大数据分析/Spring"]
	path = Java与大数据分析/Spring
	url = https://github.com/edu2act/2017-2018_1st_Spring
[submodule "Java与移动智能设备开发/Spring"]
	path = Java与移动智能设备开发/Spring
	url = https://github.com/edu2act/2017-2018_1st_Spring
[submodule "软件测试/自动化测试工具UFT"]
	path = 软件测试/自动化测试工具UFT
	url = https://github.com/edu2act/2017-2018_1st_UFT
[submodule "软件测试/开源自动化测试框架"]
	path = 软件测试/开源自动化测试框架
	url = https://github.com/edu2act/2017-2018_1st_WebDriver
[submodule "软件测试/测试技能"]
	path = 软件测试/测试技能
	url = https://github.com/edu2act/2017-2018_1st_Testing-technique
[submodule "基础课程/软件测试基础"]
	path = 基础课程/软件测试基础
	url = https://github.com/edu2act/2017-2018_1st_Foundation-Software-Tesing/
[submodule "HTML5与移动互联网开发/Node.js"]
	path = HTML5与移动互联网开发/Node.js
	url = https://github.com/edu2act/2017-2018_1st_node.js
