[submodule "基础课程/信息素养与实践"]
	path = 基础课程/信息素养与实践
	url = https://github.com/edu2act/2017-2018_1st_Informationliteracy1.git
[submodule "基础课程/计算机导论"]
	path = 基础课程/计算机导论
	url = https://github.com/edu2act/2017-2018_1st_ComputerIntroduction.git
[submodule "基础课程/Web开发（二）"]
	path = 基础课程/Web开发（二）
	url = https://github.com/edu2act/2017-2018_1st_web2.git
