[submodule "基础课程/信息素养与实践"]
	path = 基础课程/信息素养与实践
	url = https://github.com/edu2act/2017-2018_1st_Informationliteracy1.git
[submodule "基础课程/计算机导论"]
	path = 基础课程/计算机导论
	url = https://github.com/edu2act/2017-2018_1st_ComputerIntroduction.git
[submodule "基础课程/Web开发（二）"]
	path = 基础课程/Web开发（二）
	url = https://github.com/edu2act/2017-2018_1st_web2.git
[submodule "基础课程/C++面向对象程序设计"]
	path = 基础课程/C++面向对象程序设计
	url = git@github.com:edu2act/2017-2018_1st_CPP.git
[submodule "基础课程/软件过程"]
	path = 基础课程/软件过程
	url = https://github.com/edu2act/2017-2018_1st_softwarprocess.git
[submodule "Java与大数据分析/JavaEE"]
	path = Java与大数据分析/JavaEE
	url = https://github.com/edu2act/2017-2018_1st_JavaEE.git
[submodule "Java与移动智能设备开发/JavaEE"]
	path = Java与移动智能设备开发/JavaEE
	url = https://github.com/edu2act/2017-2018_1st_JavaEE.git
